<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Tech News Scraper</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="/">Home</a>
    <a class="nav-item nav-link" href="/saved">Saved articles</a>
    <a class="btn btn-danger scrape-new">Get new articles</a>
  </div>
</div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
<h1 class="display-4">Tech News</h1>
<p class="lead">Get the lastest tech news</p>
</div>

<div class="container message-body">
  {{message}}
</div>